@import "tailwindcss";

body {
  background-color: #0b0e11;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4e4e4e #1a1a1a; /* thumb | track */
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.box {
  border-radius: 6px;
  color: white;
  font-weight: bold;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: grab;
  user-select: none;
  background-color: #181a20;
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .box {
    border-radius: 0px !important;
  }
}

.chart-page,
.chart-page * {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  outline: none !important;
}

.drag-handle {
  cursor: grab !important;
}

@media (max-width: 768px) {
  #tv-chart {
    height: 40vh !important;
  }

  #tv-chart iframe {
    height: 40vh !important;
  }
}
