@import "tailwindcss";

body {
  background-color: #0b0e11;
}

* {
  scrollbar-width: thin; /* برای Firefox */
  scrollbar-color: #4e4e4e #1a1a1a; /* thumb | track */
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}

.box {
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: grab;
  user-select: none;
  background-color: #181a20;
}

.chart-page,
.chart-page * {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  outline: none !important;
}

.drag-handle {
  cursor: grab !important;
}
